server:
  port: 8080

eureka:
  client:
    enabled: false

spring:
  config:
    activate:
      on-profile: prod
  application:
    name: chat-service
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:3306/orbit
    username: admin
    password: ${DB_PW}
  kafka:
    bootstrap-servers: kafka-service:9092
    consumer:
      group-id: chatting-${random.uuid}
      enable-auto-commit: false

  redis:
    host: redis-service
    port: 6379

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show_sql: true

    properties:
      hibernate:
        format-sql: true


# aws s3 접근하기 위한 계정 세팅
cloud:
  aws:
    credentials:
      access-key: ${S3_ACCESS}
      secret-key: ${S3_SECRET}
    region:
      static: ap-northeast-2
    s3:
      bucket: orbit-bucket-public

jwt:
  secretKeyAt: YmV5b25kYWNjZXNzdG9rZW5zZWNyZXRrZXliZXlvbmRhY2Nlc3N0b2tlbnNlY3JldGtleWJleW9uZGFjY2Vzc3Rva2Vuc2VjcmV0a2V5

openvidu:
  # OpenVidu 서버의 HTTP 주소 (Docker 실행 시 설정한 포트 4443 사용)
  url: http://openvidu.orbitflow.store:4443/ # todo
  # Docker 실행 시 설정한 비밀 키
  secret: MY_SECRET